body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; 
    text-align: center;
	background-image: url("estetik.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    overflow-y: auto; 
    display: flex; /* This splits the body horizontally */
    
}

header {
    background-color: #E899FF;
    color: white;
    padding: 10px 0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    top: 0; /* Position it at the top */
    width: 100%; /* Make it span the full width */
    z-index: 1000; /* Ensure it stays above other elements */
    line-height: 0;
}
nav {
    background-color: #E899FF;
    opacity: 0.8;
    padding: 6px;
    font-family: serif;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 12px; 
    display: inline-block;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
nav ul li a:hover {
    transform: scale(1.1);
    color: black;
    text-decoration: underline;
    padding: 5px 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}







footer {
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 14px;
    z-index: 1000; /* Ensure it stays above other elements */
}